.content-area {
    margin-bottom: $baseline * 2;
    padding-bottom: $baseline * 2;

    &.auto-subscribe {
        padding-bottom: $baseline/2;
    }

    &.white {
        background-color: white;
        padding-top: $baseline *2;
        padding-bottom: $baseline;
        //@include card(1);
    }
    &.gray {
        background: $gray;
    }
}