
$baseline:          24px;

$gutter:            3.65%;
$gutter-b:          $baseline;

$background:        #DDD;
$brand:             #2896E4;
$brand-light:       #BDEDFF;
$brand-lighter:     #F4FAFC;
$brand-dark:        #2470A6;
$brand-darker:      #1B5883;
$brand-darker-edge: #0E2E44;
