
.release-info {

    &.release-date {

    }

    h3.release-date {
        line-height: 46px;
        color: $black; //$white;
        padding-left: $gutter;
        letter-spacing: 0;
        border-radius: 4px;
        margin-bottom: 0;
        font-size: 28px;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    a {
        color: $brand;

        &:hover {
            color: #2078B6;
        }
    }

}

