
.release-info {

    &.release-date {
        background: $brand;
    }

    h3.release-date {
        line-height: 46px;
        color: $white;
        padding-left: $gutter;
        letter-spacing: 0;
        border-radius: 4px;
        margin-bottom: 0;
    }

    a {
        color: $brand;

        &:hover {
            color: #2078B6;
        }
    }

}

