.release-info {
    //margin-top: $baseline * 1.5;

    h3.release-date {
        line-height: 46px; //$baseline * 2;
        background-color: $brand; //#1B5883;//background:
        color: $white;
        padding-left: $gutter;
        letter-spacing: 0;
        border-radius: 4px;
    }

    a {
        color: $brand;


        &:hover {
            color: #2078B6;
        }
    }
}

.feature-summary {
    height: 200px; //todo : test this for example we need to know what the min and maximum of marketing copy will be.

    @media screen and (max-width: 768px) {
        height: auto;
        min-height: 170px;
    }
    padding-top: $baseline/2;

    p {
        font-size: 16px;
    }

}