.preview-toggle {

  @include box-model;

  margin-bottom: $baseline * 3;
  min-height: 320px;//todo : need to find out the max-min of marketing copy allowed
  padding: $gutter/2;

  h3 {
    font-size: $body;
    font-family: $stack-b;
    font-weight: 600;
    line-height: $baseline * 1.5;
    border-bottom: 1px solid $black-body;
  }

  p {
    width: 100% - $gutter;
  }

  a {
    text-decoration: none;
    margin-bottom: $baseline * 0.5;
  }

  .feature-summary {
        height: 200px; //todo : test this for example we need to know what the min and maximum of marketing copy will be.
        background: $white;

        @media screen and (max-width: 768px) {
            height: auto;
            min-height: 170px;
        }
        padding-top: $baseline/2;

        p {
            font-size: 16px;
        }

    }

  &.full-feature {

    background: #eeeeee;

    .feature-summary {
      background: hotpink;
      display: inline-block;
    }

    .image-holder {
      display: inline-block;
        height:400px;
        background: green;
        overflow: hidden;
      //height: 300px;
        //this is temporary
        img {
            max-width: 100%;
            height: auto;
        }
    }

  }

}

.features-toggles {

  padding: $baseline 0;

  p {
    color: $brand;
    font-size: $baseline;
    text-align: center;
  }

  > div {
    padding-top: $baseline;
  }

}