.preview-toggle {

    @include box-model;

    margin-bottom: $baseline * 3;
    min-height: 320px; //needs to work with feature summary height and max-characters of 400
    padding: $gutter/2;

    h3 {
        font-size: $body;
        font-family: $stack-b;
        font-weight: 600;
        line-height: $baseline * 1.5;
        border-bottom: 1px solid $black-body;
    }

    p {
        width: 100% - $gutter;
    }

    a {
        text-decoration: none;
        margin-bottom: $baseline * 0.5;
    }

    .feature-summary {
        min-height: 220px; //this is based on a 400 character limit. If this changes please check image-holder height and preview toggle min-height.
        background: $white;

        @media screen and (max-width: 768px) {
            height: auto;
            min-height: 80px;
        }
        padding-top: $baseline/2;

        p {
            font-size: 16px;
        }

    }

    &.full-feature {

        background: $gray;

        .feature-summary {
            display: inline-block;
            background: none;
        }

        .image-holder {
            display: inline-block;
            min-height: 300px; //image should be saved as w: 450px-500px  x 300-400px (no smaller than 400px * 300px). Needs to work with feature-summary height
            text-align: center;
            overflow: hidden;

            @media screen and (max-width: 768px) {
                height: auto;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

    }

}

.features-toggles {

    padding: $baseline 0 0 0;
    height: 72px;

    p {
        color: $black;
        font-size: $baseline;
        text-align: left;

        @media screen and (max-width: 1029px) {
            font-size: $body+2px;
        }

        @media screen and (max-width: 768px) {
            text-align: center;
            font-size: $baseline;
        }
    }

    > div {
        padding-top: $baseline;
    }

    @media screen and (max-width: 768px) {
        height: auto;
    }

}
