nav {
      width: 100%;
      background-color: $brand-darker;
      height: $baseline*3;
      margin-bottom: $baseline*2;
      img {
          margin-left: 3.65%;
          height: $baseline * 1.5;
          margin-top: $baseline * 0.75;

          @media screen and (max-width: 768px) {
              width: 20%;
          }
      }

    @media screen and (max-width: 768px){
        height: 120px;
    }
  }