
<div ng-controller="DashboardCtrl as ctrl" class="wrapper">

    <div class="t3-t8 d1-d9 preview-brand">
        <img class="d1-d3 t3-t4" src="images/preview.svg" />
        <div class="d4-d8">
            <h1 class="t5-t7">Preview</h1>
            <p class="t-all">
                Welcome to Clear Books Preview,
                where each month we’ll add a
                set of brand new features for
                you to try before their general
                release. In the list below, you
                can take a look at the details
                of each feature, turn each one
                on/ off in your account and
                give us your feedback.
            </p>
        </div>
    </div>


    <div class="content-area gray t3-t8 t-padfull d10-d13 d-pad d-overlap auto-subscribe">
        <h2>Stay up to date</h2>
        <p>
            By auto-subscribing to
            all new features, they
            will be turned on in your
            account as soon as we add
            them to Clear Books Preview
        </p>
        <a href="" class="button blue t-all d-all">Auto subscribe</a>
    </div>


    <div class="content-area white t2-t9 t-padfull d-all d-padfull">

        <div class="release-info d2-d13">
            <h2 class="t-all">Release due: <next-release/></h2>
        </div>

        <div class="preview-toggle cf t-all" ng-repeat="div in feature_sections | limitTo:8" ng-class-odd="'d2-d7'" ng-class-even="'d8-d13'"  >
            <div class={{div.id}}>
               <h3>{{div.name}}</h3>
                <p>{{div.summary}}</p>
                <div class="t2-t5" ng-class-odd="'d2-d4'" ng-class-even="'d8-d9'">
                    <a class="t-all d-all" href="">Read more</a>
                    <a class="t-all d-all" href="" ng-click="$parent.overPopBoxShow = !$parent.black_overlay; $parent.black_overlay = !$parent.black_overlay; pickedFeature(div); hideSuccessMessage();">Give feedback</a>
                </div>
                <a href="" ng-class="activated[div.name] ? 'active' : ''" class="button t-floatright d-pad d-overlap" ng-class-odd="'d5-d6'" ng-class-even="'d11-d12'" ng-click="ctrl.setToggleActive(div.id, div.name, !activated[div.name])">
                    {{ activated[div.name] ? "Stop Preview" : "Preview" }}
                </a>
            </div>

        </div>


    </div>
    <div id="fade" class="black_overlay" ng-show="black_overlay"></div>
    <div class="wrapper fixed">
        <div class="over-pop-box d3-d12 t-all m-all d-pad t-padinfull m-padinfull" ng-show="overPopBoxShow">
            <a href="" ng-click="overPopBoxShow = !overPopBoxShow; black_overlay = !black_overlay;" class="vpushup-2 close-modal"><span class="close-text">CLOSE</span> <i class="fa fa-times"></i></a>
            <ng-include src="'views/modal.html'"></ng-include>
        </div>
    </div>


</div>

