<div class="d-all t-all m-all d-padinfull t-padinfull m-padinfull vpushup-2">

    <div class="d-all t-all m-all vpushdown-1">
        <h1 class="d1-d8 t1-t8 d-floatleft">Submit feedback</h1>
    </div>


    <form class="form" name ="featuresFeedback" ng-controller="PreviewFeedbackFormCtrl" ng-submit="processForm(feature.chosen, formData)">

        <fieldset>
            <div class="labs-form-select-group">
                <div class="labs-select" ng-controller="SelectCtrl">
                    <select ng-model="feature.chosen"
                            ng-options="feature.title for feature in feature_sections track by feature.id"></select>
                </div>
            </div>


            <div class="feedback-radio-btns d-all t-all m-all vpushdown-1">
                <div class="d3-d7 t1-t5 m-all positive-feedback">
                    <input type="radio" name="moodIcon" id="posfeedback" ng-model="formData.mood" required value="1"/>
                    <label for="posfeedback"><span class="icon happy"></span><span>I'm giving praise</span></label>
                </div>
                <div class="d8-d12 t6-t9 m-all d-overlap t-overlap negative-feedback">
                    <input type="radio" name="moodIcon" id="negfeedback" ng-model="formData.mood" required value="0"/>
                    <label for="negfeedback"><span class="icon sad"></span><span>I'm reporting an issue</span></label>
                </div>
            </div>

            <textarea class="d-all t-all m-all d-padin t-padin m-padin vpushdown-3" required="required"
                      ng-model="formData.message"></textarea>


        </fieldset>


        <button type="submit" class="button click-effect d8-d9 t6-t8 d-floatright t-floatright">
            <span>Submit</span></button>

         <pre>
             {{feature.chosen.title}}
             {{formData}}
	</pre>


    </form>


</div>
