<div ng-controller="DashboardCtrl" class="wrapper">
    <div class="d-all t-all m-all vpushup-2">

        <div class="d-all m-all t-all vpushdown-1">
            <h1 class="d1-d8 d-floatleft">Submit feedback</h1>
        </div>


        <form class="form">

            <fieldset>

                <label for="features-dropdown">
                <select ng-model="" class="vpushdown-3">
                    <option value="0">a</option>
                    <option value="1">b</option>
                    <option value="2">c</option>
                </select>

                <div class="feedback-radio-btns d-all t-all m-all vpushdown-2">
                    <div class="d2-d7 positive-feedback">
                        <input type="radio" name="a" id="posfeedback"/>
                        <label for="posfeedback"><span class="icon"></span><span>I'm giving praise</span></label>
                    </div>

                    <div class="d8-d12 d-overlap negative-feedback">
                        <input type="radio" name="a" id="negfeedback"/>
                        <label for="negfeedback"><span class="icon"></span><span>I'm reporting an issue</span></label>
                    </div>
                </div>

                <textarea class="d-all t-all m-all d-padin t-padin m-padin vpushdown-3"
                          ng-model="string"
                          [name="string" ]
                          [required="string" ]
                          [ng-required="string" ]
                          [ng-minlength="number" ]
                          [ng-maxlength="number" ]
                          [ng-pattern="string" ]
                          [ng-change="string" ]
                          [ng-trim="boolean" ]>

                     </textarea>


            </fieldset>


            <button type="submit" name="" class="button d8-d9 d-floatright "><span>Submit</span></button>


        </form>

    </div>

</div>
