.over-pop-box {
    /*overflow-y: scroll;*/
    background: $white;
    border-top: 1px solid $gray;
    @include card(4);
    height: 95%;
    bottom: 0;
    z-index: 99999;
    @include rounded;
    box-shadow: bottom-shadow(5);

    a.close-modal {
        position: absolute;
        font-size: $body;
        text-decoration: none;
        color: $black-body;
        right: $gutter*2;

        span.close-text {
            //check where t break in gridset is:
            @media screen and (max-width: 960px) {
                display: none;
            }
        }
    }
}




