
.form {
    margin-bottom: $baseline*2;
}

select {
    border: none;
    color: $black-body;
    font-size: $body;
    height: $baseline*2;
    width: 100%;
    background: $gray;
    @include remove-outline;

    margin-right: 0;
    padding-left: $gutter-b;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    option{
        background: red;

        &:hover {
            background: grey;
        }
    }
}

input, textarea {
    @include box-model;
    color: $black-body;
    font-family: $stack;
    font-size: $body;
    padding: $baseline*0.5 $gutter-b*0.25;
    width: 100%;
}

input, select option {
}

textarea {
    height: $baseline*6;
    border: 1px solid $background;
    outline: none;
    @include remove-outline;
    resize:vertical;


}




label[for="features-dropdown"] {

    position: relative;

    &:after {
        content: "\f078";
        font-family: FontAwesome;
        font-size: $body;
        color: $black-body;
        right: 8px;
        top: 20%;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
        background: $gray;

    }

}

.feedback-radio-btns {

    div {
        display: inline-block !important;
    }

    input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
    }

    label {
        cursor: pointer;
        z-index: 90;
        width: 100%;
        background: $white;
    }

    input[type="radio"] + label {
        display: inline-block;

        span {
            display: inline-block;
            vertical-align: middle;
            font-size: $body;

            &.icon.happy {

                &:before {
                    content: "\f118";
                    font-family: FontAwesome;
                    color: $background;
                    margin-right: 8px;
                    font-size: $body*4;
                    //check where t break in gridset is:
                    @media screen and (max-width: 960px) {
                        font-size: $body*3;
                    }
                }
            }

            &.icon.sad {

                &:before {
                    content: "\f119";
                    font-family: FontAwesome;
                    color: $background;
                    margin-right: 8px;
                    font-size: $body*4;
                    @media screen and (max-width: 960px) {
                        font-size: $body*3;
                    }
                }

            }
        }

    }

    input[type="radio"]:checked + label {

        span {

            &.icon.happy {
                &:before {
                    color: $green-light;
                }
            }

            &.icon.sad {
                &:before {
                    color: $red;
                }
            }
        }
    }
}

